@config "../tailwind.config.js";
@import "tailwindcss";

.frost {
  @apply bg-secondary/60 backdrop-blur-md border-white/10 shadow-md;
  background: rgba(232, 23, 93, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.frost::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image: url("../public/abstract-art-background-dark-gray-600nw-2115572723.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  filter: brightness(0.7);
}
