@config "../tailwind.config.js";
@import "tailwindcss";

.frost {
  @apply bg-secondary/30 backdrop-blur-md;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.frost::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.1); /* lighter and more transparent */
  backdrop-filter: blur(8px); /* add backdrop-filter here for better blur */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  filter: none; /* remove brightness and blur filter, let backdrop-filter handle it */
  border-radius: inherit; /* optional, if you want rounded corners matching the parent */
}

#about {
  scroll-margin-top: 15vh;
}

#skills {
  scroll-margin-top: 15vh;
}

#projects {
  scroll-margin-top: 15vh;
}
