@config "../tailwind.config.js";
@import "tailwindcss";

.frost {
  @apply bg-neutral-900 backdrop-blur-md;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.frost::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  filter: none;
  border-radius: inherit;
}

#home {
  scroll-margin-top: 12vh;
}

#about {
  scroll-margin-top: 15vh;
}

#skills {
  scroll-margin-top: 15vh;
}

#projects {
  scroll-margin-top: 15vh;
}
